<!-- <h1>Hello Word</h1>
<button [style.backgroundColor]="isActive?'red':'green'" class="btn btn-primary">Save</button> -->
<!-- #email =>this template variables -->
<!-- <input #email (keyup.enter)="onKeyPress()"> -->

 <!-- Two way binding -->
 <!-- <h1>{{userInput}}</h1>
 <input [(ngModel)]="userInput" type="text"> -->

 <!-- directive is used to manipulate the DOM -->

 <!-- pipes  -->
 <!-- <h3>{{name |uppercase}}</h3>
 <h4>{{realeaseDate | date:'medium'}}</h4> -->

<!-- custom pipes -->
 <!-- <p>{{text | summary:10}}</p> -->

 <!-- <app-favorite [isFavorite]="true"></app-favorite>
 <button (click)="callChildFunction()">Call Child Function</button> -->

 <!-- pass data from parent to child on ngAfterviewInit -->
<!-- <app-favorite></app-favorite> -->

<app-favorite [isFavorite]="post.isfavorite" (change)="clickFromChild($event)"></app-favorite>
<input type="text" appInputFormat>
<app-contact-form></app-contact-form>